html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    overflow-y: hidden;
    overflow-x: hidden;
}

svg {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
}

h1 {
    width: 100%;
    font-family: sans-serif;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 18px;
    top: 40%;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

h1 a {
    color: #2ecc71;
    text-decoration: none;
}

path {
    stroke-linecap: square;
    stroke: white;
    stroke-width: 0.2px;
}

.title {
    font-family: SegoeUI;
    color: white;
    font-size: 20px;
    font-weight: 100;
    position: fixed;
    left: 50px;
    bottom: 70px;
    width: 100%;
    color: white;
    text-align: left;
}

.artist {
    font-family: SegoeUI;
    color: white;
    font-size: 20px;
    font-weight: 1000;
    position: fixed;
    left: 50px;
    bottom: 50px;
    width: 100%;
    color: white;
    text-align: left;
}

.songInfo {
    left: 50px;
    bottom: 50px;
    position: fixed;
}

.button {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background-color: #2ecc71;
    color: #FFF;
    border: 1px solid transparent;
    border-radius: 50px;
}

.button:focus,
.button:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.button:hover,
.button:focus {
    text-decoration: none;
    background-color: #555;
}

.button:active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        width: 150px;
        height: 15px;
        -webkit-appearance: none;
        background-color: #555;
        border-radius: 20px;
    }
    input[type='range']::-webkit-slider-runnable-track {
        height: 15px;
        -webkit-appearance: none;
        color: #2ecc71;
        border-radius: 50%;
    }
    input[type='range']::-webkit-slider-thumb {
        border-radius: 20px;
        width: 15px;
        height: 15px;
        -webkit-appearance: none;
        cursor: pointer;
        background: #FFF;
        box-shadow: -505px 0 0 500px #2ecc71;
    }
}

input[type="range"]::-moz-range-progress {
    background-color: #2ecc71;
}

input[type="range"]::-moz-range-track {
    background-color: #555;
}

input[type="range"]::-ms-fill-lower {
    background-color: #2ecc71;
}

input[type="range"]::-ms-fill-upper {
    background-color: #2ecc71;
}

.toggle {
    width: 40px !important;
}

#settings {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.setting p {
    font-family: Segoe UI;
    color: white;
    font-size: 14px;
    font-weight: 100;
    width: 100%;
    color: white;
    text-align: center;
    pointer-events: none;
}

.logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}


/*  */

.tab {
    overflow: hidden;
    /* background-color: #f1f1f15d; */
    text-align: center;
}

.tab button {
    text-align: center;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #FFF;
    background-color: #555;
}

.tab button:hover {
    color: #2ecc71;
    background-color: #ddd;
}

.tab button.active {
    color: #FFF;
    background-color: #2ecc71;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    color: #2ecc71;
    text-align: center;
}

@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI Light"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI Semilight"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI Bold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI Semibold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 700;
}